@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

.backArticle {
    background-color: #FEF7E2;
    font-family: 'Outfit', sans-serif;
    color: #612406;
    display: flex;
    
}