/* Your styles here */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    background-color:#E9EDEE;
}
main {
    text-align: center;
    margin:0 2rem 0 2rem;
}
.blue {
    color: #378083;
    font-size: 0.8em;
}

/*HEADER*/
header {

    background-color: #222F3F; 
}
#logo {
    height: 50px;
    padding: 10px 0px 10px 30px;

    
}
nav p {
    display:inline;
    color: #FAFFFF;
    padding: 0.5rem;
}
#navbar {
    background-color: #364759;
    padding: 10px 15px 10px 30px;}

    /*MAIN*/
#orange {
    font-size: 1em;
    background-color: #F56600 ;
    color: #FAFFFF;
    margin: 40px 0 40px 0; 
}

#orange p {
    padding: 10px 0 10px 0 ;
}

#heading {
    color: #FAFFFF;
    background-image: url(../images/bg-image.png);
    background-size: contain;
    
    background-repeat: repeat;
    padding: 35px 0 35px 0;
}
.descrizione p {
    display: inline;
    padding: 10px
}

.descrizione {
    padding:15px;
    font-size: 1.3em;
    text-align: start;
}
#schede {
    vertical-align: top;
    background-color: white;
    height: 60vh;
    margin-top:45px;
}

.card {
    height: 45vh;
    width: 20vw ;
    
    box-shadow: 8px 8px 19px 1px #9b9797;
    border-radius: 7% 7% 7% 7%;
    margin: 20px;
  
}
.immagine {
    width: 100%;
}
#figures p {
    display: inline;
    padding:10px 5px 10px 5px ;
}
#figures {
    margin: 35px 0 35px 0;
}

.figura {
    margin: 35px 0 35px 0;
}

#back {
    padding:10px;
    background-color:#364759;
    color:#FAFFFF;
}

/*FOOTER*/
#back a {
    
    color: #FAFFFF;
}

footer {
    text-align: center;
    background-color:#222F3F; 
}
#logoFooter {
    height: 60px;
    padding: 50px
}

